body, p, h1 {
    margin: 0;
}

h1 {
    color: blue;
    font-size: 40px;
}

a {
    color: #d2d2d2;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
}

.button {
  width: 200px;
  height: 40px;
  margin: 20px auto 0px auto;
  display: block;
  background-color: #555;
  outline: none;
  border: none;
  color: #d7d7d7;
  &-primary {
    background-color: #0072bc;
  }
  &.register-button{
    margin: 60px auto 0px auto;
  }
}

button.piece{
    outline: none;
    box-sizing: content-box;
    display: inline-block;
    width: 43px;
    height: 43px;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;

    &:hover {
        background-color: rgba(0,0,0,0.3);
    }
}

form.register-form {
  flex-direction: column;
  align-items: center;

    input {
        width: 100%;
        margin: 10px 0px;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid #ddd;
        color: #eee;
        text-align: center;
        padding: 10px;
    }

}

form.login-form {
  flex-direction: column;
  align-items: center;

    input {
        width: 100%;
        margin: 10px 0px;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid #ddd;
        color: #eee;
        text-align: center;
        padding: 10px;
    }

}

a.register-here-link {
  display: block;
  margin: 30px 0px 0px 0px;
}


a.back-to-login{
  display: block;
  margin: 100px 0px 0px 0px;
  color: #a1a1a1;
  font-weight: bolder;
  font-size: 20px;
  &:hover {
    text-decoration: none;
  }
}

.page {
    background-color: #b0b0b0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .page-content {
        width: 100%;
        height: 100%;
        display: flex;
    }

    &.home-page {
        align-items: flex-end;
        flex-direction: row;

        color: #d2d2d2;

        background-image: url(../images/chessboard.jpg);
        background-position: center;
        background-size: cover;

        background-color: #464646;
        .login-form {
            align-self: center;
        }
        & .page-content {
            justify-content: flex-end;
        }
        .sidebar {
          background-color: rgba(0.24,0.24,0.24, 0.9);
          height: 100%;
          max-width: 296px;
          padding: 0px 32px;
          display: flex;
          flex-direction: column;
          .page-title {
            color: #d9d9d9;
            margin: 20px 0px;
            font-size: 68px;
          }
          .guest-button-container {
            flex: 0.5 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
          }
          .back-to-login-container{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
          }
        }
    }

    .page-header {
        width: 100%;
        height: 80px;
        background-color: #999;
        display:flex;
        justify-content: space-between;
        flex-shrink: 0;
    }
}
