
$blackSquareColour: #595959;
$whiteSquareColour: #e1e1e1;
$hoverSquareColour: #777;
$selectedSquareColour: #26364e;
.chess-board {
    .chess-board-tiles {
        .square.black {
            fill: $blackSquareColour;
        }
        .square.white {
            fill: $whiteSquareColour;
        }
        .square:hover {
            fill: $hoverSquareColour;
        }
        .square.white.selected, .square.black.selected{
            fill: $selectedSquareColour;
        }
        &.selected .square:hover {
            fill: $selectedSquareColour;
        }
    }
    .pieces-group {
        pointer-events: none;
        transform: translate(8px, 8px);
        .chess-piece {
            transform-origin: center;
            &.moving {
                transition: transform 0.1s ease-in;
            }
        }
    }
}
