h1 {
    color: blue;
    font-size: 40px;
}

button.piece{
    outline: none;
    box-sizing: content-box;
    display: inline-block;
    width: 43px;
    height: 43px;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;

    &:hover {
        background-color: rgba(0,0,0,0.3);
    }
}